@import url(https://fonts.googleapis.com/css?family=Special+Elite);

*{
  box-sizing:border-box;
}
body{
	height:100%;
  margin:0;
	background-repeat:repeat-y;
  background-size:cover;
  background-position:center top;
  font-family:'Special Elite';
}

/* Header */
.header{
  position: relative;
  height:35%;
  width:100%;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  z-index:-1;
}
.header .title{
  position: relative;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  text-align:center;
  text-shadow:1px 1px 5px #000;
  font-size:calc(20px + 3.0vw);
  color:rgb(227, 83, 83);
}

/* Body */
.container1{
  position: relative;
}
.container{
  position: relative;
  font-size:1.3vw;
  color:white;
  text-shadow:1px 1px 5px #000000;
  width:70%;
}
.text-intro{
  padding:10px;
}
.text-quote{
  background:rgba(0, 0, 0, 0.4);
  color:#f1f1f1;
  padding:12px 10px 12px 10px;
  background-color:rgba(66,141,48,0.4);
}
.row{
  display:flex;
}
.column-1{
  flex:50%;
  padding:10px;
}
.column-2{
  flex:50%;
  padding:10px;
}
.image-map-cell{
  padding:10px;
}
.image{
  width:100%;
  box-shadow:2px 3px 2px grey;
}
.text-caption{
  font-size:15px;
  text-align:center;
}

/* Navigation Bar */
.navbar{
  overflow: auto;
  float:right;
  background-color:transparent;
  font-size:calc(12px + 0.5vw);
  text-shadow:1px 1px 5px #000;
}
.navbar a{
  float:left;
  color:white;
  text-shadow:1px 1px 5px #000;
  text-align:left;
  padding:14px 16px;
  text-decoration:none;
}
.navbar a:hover{
	text-shadow: 0 0 3px #FF0000;
}
.dropbtn{
  border:none;
  background-color:inherit;
  color:white;
  text-shadow:1px 1px 5px #000;
  padding:16px;
}
.dropdown{
  position:relative;
  display:inline-block;
}
.dropdown-content{
  display:none;
  position:absolute;
  background:rgba(0, 0, 0, 0.5);
  font-size:calc(12px + 0.3vw);
  min-width:160px;
  box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index:1;
}
.dropdown-content a{
  color:white;
  text-shadow:1px 1px 5px #000;
  padding:12px 16px;
  text-decoration:none;
  display:block;
}
.dropdown-content a:hover{
	text-shadow: 0 0 3px #FF0000;
}
.dropdown:hover .dropdown-content{
  display:block;
}
.dropdown:hover .dropbtn{
  background:rgba(0, 0, 0, 0.5);
}

/* Navigation Buttons */
.icon-bar{
  position:fixed;
  top:50%;
  -webkit-transform:translateY(-50%);
  -ms-transform:translateY(-50%);
  transform:translateY(-50%);
}
.icon-bar a{
  display:block;
  text-align:center;
  padding:14px;
  transition:all 0.3s ease;
  color:white;
  font-size:calc(12px + 0.3vw);
  text-shadow:1px 1px 5px #000;
}
.icon-bar a:hover{
  /* background-color:#000; */
	text-shadow: 0 0 3px #FF0000;
}
.previous{
  background-color:#787272;
  color:white;
}
.next{
  background-color:#787272;
  color:white;
}

/* Home Credit Box */
.credit{
  position:fixed;
  left:calc(12px + 1.0vw);
  bottom:calc(12px + 1.0vw);
  padding:14px 16px 14px 16px;
  font-size:calc(12px + 1.0vw);
  color:white;
  text-shadow:1px 1px 5px #000;
  background:rgba(0, 0, 0, 0.5);
}
.credit .name{
  font-weight:600;
  margin-bottom:13px;
}
