@import url(https://fonts.googleapis.com/css?family=Special+Elite);

*{
  box-sizing:border-box;
}
body{
	height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Special Elite';
}

/* Main Body */
.main{
  height:auto;
  background-image:url(https://site.nhd.org/08343847/uploaded/Untitled_4.png);
  background-color:#787272;
  background-repeat:repeat-y;
  background-size:cover;
  background-position:center top;
  position: relative;
}

.header{
  top:0px;
  height:35%;
  width:100%;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  position:relative;
  z-index:-1;
}
.header p{
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  text-align:center;
  text-shadow:1px 1px 5px #000000;
  font-size:calc(20px + 3.0vw);
  position:relative;
  color:rgb(227, 83, 83);
}

/* Container */
.container{
  top:calc(10px + 0.5vw);
  font-size:calc(12px + 0.5vw);
  color:white;
  text-shadow:1px 1px 5px #000000;
  width:80%;
  position:relative;
  padding:0;
}
.container > p{
  line-height: 2.0;
}
.container p a{
  color:rgb(227, 83, 83);
  font-weight:900;
}
.container .row{
  display:flex;
  position: relative;
}
.container .row .column + .column{
  margin-left: 1.2em;
}
.container .row .column{
  flex:50%;
}
.container iframe{
  width:100%;
  height:80%;
}

figure img{
  width:100%;
}
figure figcaption{
  margin-top:0.8em;
  font-size:0.8em;
  text-align:center;
}

blockquote {
  background:rgba(0, 0, 0, 0.4);
  color:#f1f1f1;
  padding:1em 0.8em 1em 0.8em;
  background-color:rgba(66,141,48,0.4);
  border-radius: 2em;
}
blockquote q{
  font-style: italic;
}
blockquote q:before{
  content: "❝ ";
}
blockquote q:after{
  content: " ❞";
}
blockquote footer{
  margin-top: 0.8em;
}

/* Top Navigation Bar */
.navbar{
  position:absolute;
  top:0px;
  right:0px;
  float:right;
  background-color:transparent;
  font-size:calc(12px + 0.5vw);
  text-shadow:1px 1px 5px #000;
}
.navbar a{
  float:left;
  color:white;
  text-shadow:1px 1px 5px #000;
  text-align:left;
  padding:14px 16px;
  text-decoration:none;
}
.navbar a:hover{
	text-shadow: 0 0 3px #FF0000;
}
.dropbtn{
  border:none;
  background-color:inherit;
  color:white;
  text-shadow:1px 1px 5px #000;
  padding:16px;
}
.dropdown{
  position:relative;
  display:inline-block;
}
.dropdown-content{
  display:none;
  position:absolute;
  background:rgba(0, 0, 0, 0.5);
  font-size:calc(12px + 0.3vw);
  min-width:160px;
  box-shadow:0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index:1;
}
.dropdown-content a{
  color:white;
  text-shadow:1px 1px 5px #000;
  padding:12px 16px;
  text-decoration:none;
  display:block;
}
.dropdown-content a:hover{
	text-shadow: 0 0 3px #FF0000;
}
.dropdown:hover .dropdown-content{
  display:block;
}
.dropdown:hover .dropbtn{
  background:rgba(0, 0, 0, 0.5);
}

/* Sidebar */
.icon-bar{
  /*
  position:fixed;
  top:50%;
  -webkit-transform:translateY(-50%);
  -ms-transform:translateY(-50%);
  transform:translateY(-50%);
  z-index: 1;
  */
  position: relative;
  width: 100%;
}
.icon-bar a{
  display:block;
  text-align:center;
  padding:14px;
  transition:all 0.3s ease;
  color:white;
  font-size:calc(12px + 0.3vw);
  text-shadow:1px 1px 5px #000;
}
.icon-bar a:hover{
  /* background-color:#000; */
	text-shadow: 0 0 3px #FF0000;
}
.previous{
  background-color:#787272;
  color:white;
  float: left;
}
.next{
  background-color:#787272;
  color:white;
  float: right;
}

a.btn{
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #FFFFFF;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.2s;
}
a.btn:hover{
  color: #000000;
  background-color: #FFFFFF;
}
@media all and (max-width: 30em){
  a.btn{
    display: block;
    margin: 0.4em auto;
  }
}
.bouncy{
  animation: bouncy 5s infinite linear;
  position: relative;
}
@keyframes bouncy {
  0%{top: 0em}
  40%{top: 0em}
  43%{top: -0.0em}
  46%{top: 0em}
  48%{top: -0.4em}
  50%{top: 0em}
  100%{top: 0em;}
}
.bouncy{
  animation: bouncy 5s infinite liner;
  position: relative;
}
@-webkit-keyframes bouncy {
 0%{top:0em}
 40%{top:0em}
 43%{top:-0.9em}
 46%{top:0em}
 48%{top:-0.4em}
 50%{top:0em}
 100%{top:0em;}
}

/* Credit */
.credit{
  position:fixed;
  left: 1.0em;
  bottom: 1.0em;
  padding:14px 16px 14px 16px;
  font-size:calc(12px + 1.0vw);
  color:white;
  text-shadow:1px 1px 5px #000000;
  background:rgba(66,141,48,0.4);
  border-radius: 1.1em;
}
.credit .name{
  font-weight:600;
  margin-bottom:13px;
}